@import "tailwindcss";
body {
  font-family: 'Roboto Mono Variable', monospace;
  background-color: #FFFFe0 ;

}
html {
  height: 100vh;
  
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */

}

a:hover {
  opacity: 60%;
  text-decoration: underline;
}


